*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #5D3587;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

header {
    background-color: #5D3587;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    width: 100%; /* Take up the entire width */
    padding: 30px;
    margin: 0px 0 20px 0; /* Adjust margin to center vertically */
    text-align: center;
}

.speaker-form {
    color: #392467;
    background-color: #FFD1E3;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 40px;
    border-radius: 13px;
}

.form-row {
    margin-bottom: 15px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

.form-row input [type= 'text'],
.form-row input[type='email'],
.form-row select,
.form-row textarea {
    background-color: #ffffff;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 9px;
    font-size: 14px;    
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
   }

.form-row .instructions {
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
}

.form-row .checkbox-label { 
    margin-bottom: 0; 
}

.form-row select {
    width: 100%;
    padding: 5px;
    font-size: 14px; 
    -webkit-appearance: none;
}

.legacy-form-row {
    margin-top: 10px;
    border: none; 
}

.legacy-form-row legend{

    margin-left: 0.5rem;
}

.legacy-form-row input[type="radio"] {

    margin-left: 50px;
}

.legacy-form-row {
    border: none;
}

.legacy-form-row .radio-label {
    display:contents;
    font-size: 14px;    
}
.legacy-form-row input[type="radio"] {
    margin-top: 2x;
}

@media only screen and (min-width: 700px) {
    .speaker-form-header,
    .speaker-form {
        width: 600px;
    }
    .form-row {
        flex-direction: row;
        align-items: flex-start;
        height: initial;
    }
    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
        background-color: #FFFFFF;
    }
    .form-row label {
        text-align: right;
        width: 120px;
        padding-right: 20px;
    }
    .form-row .instructions {
        margin-left: 120px;
        }
    .form-row .checkbox-label {
        margin-left: 100px;
        width: auto;
        }

}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

body {
    font-family: 'Lucida Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 10px;
    width: 100%;
}

nav a {
    color: #392467;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.intro-section {
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    text-align: center;

}

.intro-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.intro-section p {
    margin-bottom: 40px;
    font-size: 20px;
}

.sub-button {
    background-color: #27AE60;
    color: #FFFFFF;
    padding: 15px 30px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.sub-button:hover {
    background-color: #259154;
}
